= div_for comment, :class => "comment" do

  .author
    .avatar
      = gravatar_image_tag comment.email

    .meta
      %span
        .name
          = comment_author(comment.author, comment.url)
          %br

      %span
        .date
          Posted
          = time_ago_in_words comment.created_at
          ago

  .body{style:"margin-bottom:20px;"}
    = comment.body
