= form_for [post, comment], remote: true do |f|

  = error_massages_for comment

  .field
    = f.label :author
    %br
    = f.text_field :author

  .field
    = f.label :email
    %br
    = f.text_field :email

  .field
    = f.label :url
    %br
    = f.text_field :url

  .field
    = f.label :body
    %br
    = f.text_area :body, row: 10, col: 90

  .actions
    = f.submit
