= stylesheet_link_tag "blog"

#column1
  - if @posts.present?

    - @posts.each do |post|
      %h2= link_to post.title.titleize, post

      #post
        = textilize post.excerpt

        %p= link_to t(".read_more"), post
  - else
    %h3 Zero posts founded.
  .left
    = will_paginate @posts

= render "sidebar"