= stylesheet_link_tag "blog"

#column1
  %h2= @post.title

  #post
    = textilize @post.body

  %h3
    = @post.comments.count
    = t("comments")

  #comments
    - if @post.comments.any?
      = render @post.comments

    - else
      %p=t(".nobody_commented_this_post_yet")


  = render "comments/form", post: @post, comment: Comment.new
= render "sidebar"