!!!
%html
%head
  %title Blog
  = stylesheet_link_tag    "admin", "scaffold"
  = javascript_include_tag "lib/jquery", "rails"
  = csrf_meta_tags
%body

  #wrapper
    #header
      #main-nav
        = menu do |m|
          = m.dashboard 'Dashboard', "#"
          = m.posts 'Posts', admin_posts_path
          = m.assets 'Assets', admin_assets_path
          = m.changelog 'Changelog', "#"
          = m.faqs 'FAQ', "#"
          = m.inquiries 'Inquiries', "#"


    #content-wrapper
      #content
        .in
          = flash_messages
          = yield
          = yield :bottom