!!!DOCTYPE html
%html
%head
  %title Blog
  = stylesheet_link_tag    "application", "scaffold"
  = javascript_include_tag "lib/jquery", "lib/jquery-ui", "rails"
  = csrf_meta_tags
%body
  #wrapper
    #header
      #logo
        = image_tag "logo_header.png", class: "middle"

      #main-nav
        = menu do |m|
          = m.home root_path do
            HOME
            %br
            %span
              DISCOVER OUR
              %br
              AWESOME PRODUCT


          = m.tour tour_path do
            TOUR
            %br
            %span
              DISCOVER WHY IT'LL
              %br
              MAKE YOUR LIFE BETTER

          = m.posts posts_path do
            BLOG
            %br
            %span
              NEWS, TIPS AND OUR
              %br
              RANDOM THOUGHTS

          = m.help "#" do
            FAQ
            %br
            %span
              FREQUENTLY ASKED
              %br
              QUESTION

          = m.contact new_inquiry_path do
            CONTACT
            %br
            %span
              YOU'RE NOT ALONE
              %br
              GET IN TOUCH

          = m.prices prices_path do
            PRICE
            %br
            %span
              SMALL AMOUNT
              %br
              FOR A BIG BENEFIT

    #content
      = flash_messages
      = yield

    #footer
      #footer-nav
        %ul
          %li= link_to 'HOME','#'
          %li= link_to "TOUR","#"
          %li= link_to "BLOG","#"
          %li= link_to "FAQ","#"
          %li= link_to "CONTACT","#"
          %li= link_to "PRICE","#"



